a{
color: white;
text-decoration: none;
font-size: 18px;
}

h1{
color: white;
margin-left: 43%;
font-size: 70px;
}
 
.link{
color: Black;
background: red;
font-size: 80px;
margin-left: 50%;
}

h4{
color: gray;
font-size: 20;
}

p{
margin-top:20vh;
}

body{
background-image: url(teste.gif);
}
